
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

body {
	margin: 0;
	font-family: "Catamaran", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #fee440;
	background-size: cover;
	background-repeat: no-repeat;
}
svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}


.container {
	text-align: center;
}

.weather-card {
	background-color: rgba(255, 255, 255, 0.624);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	width: 450px;
	box-shadow: 0 0 15px rgba(92, 92, 92, 0.736);
}

.weather-card:hover {
	transform: scale(1.05);
}

#city-input {
	padding: 15px;
	margin: 10px 0;
	width: 70%;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
}

#city-input:focus {
	outline: none;
	border-color: #2196F3;
}

#city-input::placeholder {
	color: #aaa;
}

#city-input-btn {
	padding: 10px;
	background-color: blueviolet;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
}

#city-input-btn:hover {
	background-color: #0212fe;
	box-shadow: 0 0 10px rgba(77, 77, 77, 0.787);
}

#weather-info {
	font-size: 18px;
	display: none;
}

#weather-icon {
	width: 100px;
	height: 100px;
}

#temperature {
	font-size: 32px;
	font-weight: bold;
	margin: 8px 0;
}

#description {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}

#wind-speed {
	font-weight: 500;
	font-size: 18px;
	color: blueviolet;
}

#date {
	font-weight: 550;
	font-size: 18px;
	color: blueviolet;
}


